@font-face {
    font-family: 'OratorStd';
    src: url('./OratorStd.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;

    background: #000;

    font-family: 'OratorStd',sans-serif;
}

.loader{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}